@{
    Layout = null;
}
@model Meditech.Models.USERS
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login - MEDITECH</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/css/pages/signin.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div class="navbar navbar-fixed-top">

        <div class="navbar-inner">

            <div class="container">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                @Html.ActionLink("MEDITECH", "Index", "Home",null, new { @class = "brand" })

                <div class="nav-collapse">
                    <ul class="nav pull-right">

                        <li class="">
                            @Html.ActionLink("Don't have an account?", "Signup", "Account")
                        </li>
                    </ul>

                </div><!--/.nav-collapse -->

            </div> <!-- /container -->

        </div> <!-- /navbar-inner -->

    </div> <!-- /navbar -->



    <div class="account-container">

        <div class="content clearfix">

            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()          // this is for prevent CSRF attack
                @Html.ValidationSummary(true)
                <h1>Member Login</h1>
                
                <div class="login-fields">
                    @Html.ValidationMessage("", "*")
                    <p>Please provide your details</p>
                    
                    <div class="field">
                        <label for="username">Username</label>
                        @Html.TextBox("Username",null,new{@placeholder ="Username", @class = "login username-field", @id="Username" })
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="password">Password:</label>
                        @Html.Password("Password", null, new { @placeholder = "Password", @class = "login password-field", @id = "Password" })
                    </div> <!-- /password -->

                </div> <!-- /login-fields -->

                <div class="login-actions">

                    <div class="login-checkbox">
                        <table border="0">
                            <tr>@Html.CheckBox("check")</tr>
                            <tr class="choice" for="Field"> Keep me signed in</tr>
                        </table>
                    </div> 
                    <button class="button btn btn-success btn-large">Sign In</button>
                </div> <!-- .actions -->
            }

        </div> <!-- /content -->

    </div> <!-- /account-container -->



    <div class="login-extra">
        <a href="#">Reset Password</a>
    </div> <!-- /login-extra -->


    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/signin.js"></script>

</body>

</html>

